[Unit]
Description=Record image after lid open
After=multi-user.target paths.target

[Service]
Type=simple
ExecStart=facesnap.py
RestartSec=3min
Restart=on-failure
User=root
SupplementaryGroups=video

[Install]
WantedBy=multi-user.target
